/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: arial;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




html,body{
        width:100%;
        height: 100%;
}
.wrapper{
        min-height: 100%;
 }
 .effect7 { position:relative; -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; } .effect7:before, .effect7:after { content:""; position:absolute; z-index:-1; -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8); -moz-box-shadow:0 0 20px rgba(0,0,0,0.8); box-shadow:0 0 20px rgba(0,0,0,0.8); top:0; bottom:0; left:10px; right:10px; -moz-border-radius:100px / 10px; border-radius:100px / 10px; } .effect7:after { right:10px; left:auto; -webkit-transform:skew(8deg) rotate(3deg); -moz-transform:skew(8deg) rotate(3deg); -ms-transform:skew(8deg) rotate(3deg); -o-transform:skew(8deg) rotate(3deg); transform:skew(8deg) rotate(3deg); }


.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
header{

}
.menulogocontactanos{
    color:white;
}
.menulogocontactanos{
   padding:20px;
}

/*-----------------*/
/***** Apollo *****/
/*-----------------*/

div.effect-apollo {
    background: rgba(0, 0, 0, 1);
}

div.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
}

div.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}
div.effect-apollo h2 {
    text-align: left;
}

div.effect-apollo:hover img {
    opacity: 0.61;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    z-index: 1;
}

div.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

div.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.effect-apollo{
   /* width: 365px;*/
}

.effect-apollo figcaption h2{
    position: absolute;
    top:10px;
    color:white;
}
    
.evento .effect-apollo{
    position: relative;
    overflow: hidden;
}
/*FIN EFECTO APOLLO*/

.contenedorauspiciadores{
    margin-top:70px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.logosauspiciadores{
    width: 100%;
}
.auspiciadores{
    padding-top:30px;
    background-color: #090909;
    height: 263px;
    border-top: 1px solid #3d3d3d;
}
.tamanoletra1{
    font-family: arabien;
    font-size: 33px;
    color:white;

}
.colorletra1{
    color:rgb(245, 252, 84);    
    font-family: arabien;
}

footer{
    background:  rgba(9, 9, 9, 0.94);
    height: 750px;
}
.colorletrapie{
    font-family: arabien;
    color:white;
    font-size:24px;
}
.paddingletra{
    padding-left:160px;
}
.paddingletra2{
    padding-left: 50px;
    text-align: center;
}
.paddingletra3{
    padding-left: 60px;
}
.pie{
    height: 500px;  
    background-image: url("../img/imagenpie.png") ;  

}
.footerfinal{
    height: 500px;  
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.93);
   

}
.mapa{


}

.mapamenu{
    margin-top:40px;
    padding-left:120px;
}
.mapamenu>ul>li{
    margin-bottom: 10px;
    list-style:none;
}
.mapamenu>ul>li>a{    
    text-decoration: none;
    color:#7a7a7a;

}
.mapamenu>ul>li>a:hover{
    color:white;
}

.mapaeventos{
    margin-top:40px;
    padding-left:30px;
}
.mapaeventos>ul>li{
    margin-bottom: 10px;
    list-style:none;
}
.mapaeventos>ul>li>a{    
    text-decoration: none;
    color:#7a7a7a;

}
.mapaeventos>ul>li>a:hover{
    color:white;
}
.mapaeventos ul li a{
}
.mapaeventos ul li a:hover{
    text-decoration: underline;
}
.mapaeventos ul li a span{
      
}
.redes{

    padding-top: 20px !important;
    margin-left: 35px;
    padding-left:145px;
}
.inputemail{
    padding-top: 30px;
    padding-left: 100px;

}
.inputbutton{
    width: 100%;
    margin-top: 45px;
    margin-left: 150px;
}
.redfacebook{
    width: 100px;
    height: 100px;
  background-image: url("../img/redessociales1.png");
  background-repeat: no-repeat;
  background-position: -10px -0px;
}
.estilosinputemail{
    height: 43px;
    width: 300px ;
    font-family: Calibri;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:#000000;
    border-color:#7a7a7a;
    color:white;
  
}

.suscribete,.mapa{
    height: 350px;
    border-right: 1px solid;
    border-color: #3d3d3d;

}
::-webkit-input-placeholder {
   color: #3d3d3d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3d3d3d;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3d3d3d;  
}

:-ms-input-placeholder {  
   color: #3d3d3d; 
}
.estilosinputbutton{

    font-family: Calibri;
    font-size: 22px;
    min-height:50px;
    height: auto;
    width: 200px;
    background-color: #fd7d1f;
    border-color: #fd7d1f;
    color:#74350c;


}
.reproductormp3{
    margin-top:40px;
    margin-left:20px;
}
.cancionesmp3{
    list-style: none;

}
.cancionesmp3>li{
    color:white;
    font-size: 11px;
}
.nombremp3sonando{
    padding-top: 10px;
    font-family: arabien;
    font-size: 18px;
    color:#3b3b3b !important;
    font-weight: bold;
}
.nombremp3secundario{
    font-size:10px;
    color:#8c8c8c;
}
.reproductormp3{
    width: 350px;
}
.boxcancionsonando{
    background: #000000;
}
.listacanciones{
    margin-top:15px;
    margin-left: -35px !important;
    overflow-y: scroll;
    height: 120px;
    background: #000000;
}
.tiempodecancion{
    padding-left: 30px;
}
.estiloslistacanciones{
    border-bottom: 1px solid;
    border-color: #3d3d3d;
    margin-top:15px;
}
.cancionesmp3>li:hover{
    border-bottom: 1px solid;
    border-color:#fd7d1f;
}
.estiloslistacanciones>a{
    text-decoration: none;
    color:white;
}
.estiloslistacanciones>a:hover{
    color:white;
    text-decoration: none;

}
.copyright{
    border-color: #3d3d3d;
    border-width: 2px;
    border-top:1px solid; 
    font-family: Calibri;
    font-size: 14px;
    padding-top:20px;
    height: 60px;
    background-color:#0d0d0d;
    color:#3b3b3b;
}


/*auspiaciador***/


/*MENU*****/


header .nav{
    width: 100%;
    background: #000000;
    border-bottom: 2px solid #fd7d1f;
    height:100%;

}
.menu_bar{
    display: none;
}
header .nav ul{
    overflow: hidden;
    list-style:none;
}
header .nav ul li{
    float:left;
}
header .nav ul li a{
    color:white;
    text-decoration: none;
}
header .nav ul li a:hover{
   /* background: #037e8c;*/
    text-decoration: none;
    color:#f4fc51;
    /*text-decoration: underline;*/}
header .nav ul li span{
    margin-right: 10px;
}
section{
    padding:20px;
}
header .nav ul li{
    text-align: center;
}
.estilotelefono{
    background: #fd7d1f;
    border-radius: 4px;        
    height: 60px;
    margin-top: 15px;
}
.estilotelefonolink{    
    position: relative;
    bottom: 20px;
    color:#74350c;
    font-weight: bold;
}
.menunavegacion{
    padding-top:30px;
    font-family: arabien;
    font-size: 22px;
}
@media(max-width: 992px){
    header nav{
        width: 80%;
        left:-100%;
        margin:0;
    }
    header .nav ul li{
        display: block;
        float:none;
        border-bottom: 1px solid #fd7d1f;
        margin-left: -30px;
    }
    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
    }
    .menu_bar .btn-menu{
        display: block;
        padding:20px;
        background: #000000;
        color:#fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span{
        float:right;
        font-size: 40px;
    }
    footer{
        height: 1000px !important;
    }
    .footerfinal{
        height:    777px  !important;
    }
    .pie{

        height: 777px !important;
    }    
    .eventosfooter{
        display: none;
    }
    .estilosinputbuttoncontactanos{
        width: 80% !important;
        margin-top: 20px;
        font-size: 16px !important;
    }
    .contenidopoliticas{
        height: 1700px !important;
    }
    .mensajegrande{
        width:90% !important;
    }
    .inputbutton{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .redes{

        padding-top: 20px !important;
        margin-left: 0px !important;
        padding-left:0px !important;
    }
    .menunavegacion{
        width: 100% !important;
    }

}
nav{
    z-index: 9999;
    position: relative;
    background: black;
}
.eventosresponsivo{
    display: none;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media(max-width: 992px){
    .estiloslogo{
        display: none;
    }
    .nav{
        /*height: 600px !important;*/
       /* height: 500px;*/
    }
    .estiloscontactanos{
        display: none;
    }
    .redes1{
        display: none;
    }
    .redes2>a{
        display: inline-block;
    }
    .menu_bar{

    border-bottom: 2px solid #fd7d1f;

    }

    .suscribete,.mapa{
        height: 339px;
        border-right: none !important;

    }
    .contenedordetalle{    
        width: 100%;
        height: auto !important;
       background: rgb(8, 19, 27);
       padding-top: 1px;
    }
    .contenidonormal{
        height: auto !important;
    }
    .divmenuinferior {
    width: 100%;
    position: relative;
    min-height: 1px;
    margin-top: 0px !important;
    border-top: none !important;
    background-color: black !important;
    }

}

@media(min-width: 800px) and (max-width: 992px){

    .mensajebanner{
        width: 800px !important;
    }
}



@media (max-width: 768px) { 
    body{
        background: white;
    }

    .imagen_responsive_menu{
        width: 150px;
    }
    header{
        height: 98px !important;
    }
    .menunavegacion{
        font-size: 16px;
    }

    .imagenprincipal{
        height: 505px !important;
    }

    .contenido{        
        height: 505px !important;
        background-image: url("../img/fondo1-xs.jpg") !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)  and (max-width: 992px) { 


    .menu_bar{
        height: 80px;
    }
    .imagen_responsive_menu{
        width: 200px;
        padding-left:30px;
    }

    .menu_bar{

    border-bottom: 105px solid #fd7d1f;

    }
    header{
        height: 105px !important;
    }
    .imagenprincipal{
        height: 558px !important;
    }

    .contenido{        
        height: 558px !important;
        background-image: url("../img/fondo1-sm.jpg") !important;
    }

 }
 /*arreglando*/
 @media(min-width: 992px) and (max-width: 1330px){
    .nuestroseventos{
        padding-left: 100px;
    }
 }

@media (min-width: 992px ) and (max-width: 1200px  ) { 

    .estiloslogo{

       /* padding-top:20px;*/
    }

    .contenido{        
        height: 643px;
        background-image: url("../img/fondo1-md.jpg") !important;
    }


}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) and (max-width: 1087px  ) { /*
    body{
        background: white !important;
    }*/
    .redtwittericono{
        display: none;    

    }
 }

@media(min-width: 700px) and (max-width: 750px){

    .mensajebanner{
        width: 700px !important;
    }    
    .mensajebanner{
        left:40px !important;
        top:40px !important;
    }
    .tamanoletra1{
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
}

@media(min-width: 150px) and (max-width: 600px){

    .mensajegrandepoliticas{
        height: auto !important;
    }
}

@media(min-width: 550px) and (max-width: 600px){


    .mensajebanner{
        left:10px !important;
        top:20px !important;
    }
    .tamanoletra1{
        font-size: 24px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
}
@media(min-width: 400px) and (max-width: 450px){

    
    .mensajebanner{

     
        left:10px !important;
        top:20px !important;
    }
    .tamanoletra1{
        font-size: 18px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
}
@media(min-width: 250px) and (max-width: 300px){

    
    .mensajebanner{

       
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 18px;
        
    }
    .mensajebannersecundario{
        font-size: 14px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }

    .eventoorquesta{
        top:80px !important;
        left: 10px !important;
        font-size: 18px !important;
    }   
    .eventoconocer{
        top:105px !important;
        left:70px !important;
    }
    .eventofecha{
        font-size: 17px !important;
    }

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 18px !important;
        font-family: arabien;
        padding-top: 10px;
    }
    .estilosinputemail{
        width: 90% !important;
        font-size: 15px !important;
    }
    .estilosinputbutton{
        width: 200px !important;
    }
    .suscribete{
        margin-top: 70px;
    }
}
@media(min-width: 300px) and (max-width: 350px){

    
    .mensajebanner{

        
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 17px;
        
    }
    .mensajebannersecundario{
        font-size: 15px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }

    .eventoorquesta{
        top:100px !important;
        left: 10px !important;
    }   
    .eventoconocer{
        top:125px !important;
        left:90px !important;
    }
    .eventofecha{
        font-size: 20px !important;
    }

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }
    .estilosinputemail{
        width: 90% !important;
        font-size: 15px !important;
    }
    .suscribete{
        margin-top: 30px;
    }
    .estilosinputemail{
        font-size: 15px !important;
    }

}
@media(min-width: 350px) and (max-width: 400px){

    
    .mensajebanner{

       
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 17px;
        
    }
    .mensajebannersecundario{
        font-size: 16px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }

    .eventoorquesta{
        top:120px !important;
        left: 60px !important;
    }   
    .eventoconocer{
        top:145px !important;
        left:130px !important;
    }
    .eventofecha{
        font-size: 25px !important;
    }

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }
    .suscribete{
        margin-top: 30px;
    }
    .estilosinputemail{
        font-size: 15px !important;
    }
}
@media(min-width: 400px) and (max-width: 450px){

    
    .mensajebanner{

      
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 18px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .eventoorquesta{
        top:120px !important;
        left: 80px !important;
    }   
    .eventoconocer{
        top:145px !important;
        left:150px !important;
    }

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }
    .estilosinputemail{
        font-size: 15px !important;
    }
    .suscribete{
        margin-top: 30px;
    }
}
@media(min-width: 450px) and (max-width: 500px){

    
    .mensajebanner{

       
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 20px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }   f

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }
    .suscribete{
        margin-top: 30px;
    }
}
@media(min-width: 500px) and (max-width: 550px){

    
    .mensajebanner{

        
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 24px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }  
    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }
}
@media(min-width: 550px) and (max-width: 600px){

    
    .mensajebanner{

       
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 24px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }      
    .eventosresponsivo{
    }  

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }

}
@media(min-width:150px ) and (max-width: 350px){


    .colorletrapie{
        font-size: 20px !important;
    }
    .mensajegrande{
        height: 220px !important;
    
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    .imagendetalleevento{
        float:none !important;

    }

    .zonaderechaevento{
        margin-top: 90px !important;
        padding-top: 60px !important;
    }
    .imagendetalleevento{
        float:none !important;

    }
    .zonaderechaevento{
        margin-top: 60px !important;
        padding-top: 60px !important;
    }
    .listacancionsvideosmusicales ul li a>img{
        display: none !important;
      
    }  
    .videosmusicales .listacancionsvideosmusicales ul li a{
     font-size: 13px !important;

    } 
}
@media(min-width:350px ) and (max-width: 450px){


    .colorletrapie{
        font-size: 20px !important;
    } 
    .imagendetalleevento{
        float:none !important;

    }
    .zonaderechaevento{
        margin-top: 60px !important;
        padding-top: 30px !important;
    }
    .listacancionsvideosmusicales ul li a>img{
        display: none !important;
      
    }  
    .videosmusicales .listacancionsvideosmusicales ul li a{
     font-size: 13px !important;

    }
}

@media(min-width:450px ) and (max-width: 600px){


    .colorletrapie{
        font-size: 20px !important;
    }     
    .imagendetalleevento{
        float:none !important;

    }
    .zonaderechaevento{
        margin-top: 20px !important;
        padding-top: 20px !important;
    }

    .videosmusicales .listacancionsvideosmusicales ul li a{
     font-size: 13px !important;

    }

}

@media(min-width: 150px) and (max-width: 992px){
 .mensajebanner{
    width:90% !important;
 }
}

@media(min-width: 600px) and (max-width: 650px){

    
    .mensajebanner{

       
        left:10px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 24px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }

}
@media(min-width: 600px) and (max-width: 670px){

}
@media(min-width: 650px) and (max-width: 700px){

    .mensajebanner{
      
    }    
    .mensajebanner{
        left:20px !important;
        top:100px !important;
    }
    .tamanoletra1{
        font-size: 24px;
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }

    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 24px !important;
        font-family: arabien;
        padding-top: 10px;
    }
}


@media(min-width: 700px) and (max-width: 750px){

    .mensajebanner{
      
    }   
    .tamanoletra1{
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
}
@media(max-width: 800px){
    .inputbuttonbanner{
        display: none;
    }    
    .eventoscarousel{
        display: none !important;
    }
    .eventosresponsivo .tamanoletra1{
        text-align: center;
    }
    .eventosresponsivo{

        display: block !important;         
        background: #000000;
        border-top: 2px solid #fd7d1f
    }
    .eventosresponsivo .tituloeventosexclusivos{
        color:white;
        text-align: center;
        font-size: 33px;
        font-family: arabien;
        padding-top: 10px;
    }
    .eventosresponsivo p span{
        color:rgb(245, 252, 84);
    }
    .slick-slider {
       margin-bottom: 0px !important;
    }
    .auspiciadores{

        border-top: 2px solid #fd7d1f !important;
    }   
    .effect-apollo{
        width: 100% !important;
    }
    .effect-apollo img{
        width: 100% !important;
    }

}
@media(min-width: 750px) and (max-width: 800px){

    .mensajebanner{
      
    }    
    .mensajebanner{
        left:30px !important;
        top:100px !important;
    }
    .tamanoletra1{
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
}
 @media(min-width: 800px) and (max-width: 850px){
    
    .mensajebanner{
       
        left:7px !important;
        top:20px !important;
    }
    .tamanoletra1{
        
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:230px !important;
        margin-top:-30px !important;
    }
    .eventoscarousel{
        position: relative;
        left: 40px !important;
        width: 700px !important;
        top:290px !important;
        padding-top: 5px !important;
        padding-bottom: 3px !important;
        height: 260px !important;
    }

}

 @media(min-width: 850px) and (max-width: 900px){
    
    .mensajebanner{
        left:20px !important;
        top:20px !important;
    }
    .tamanoletra1{
    
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:250px !important;
        margin-top:-30px !important;
    }
    .eventoscarousel{
        left: 80px !important;
        width: 700px !important;
        top:290px !important;
        padding-top: 5px !important;
        padding-bottom: 3px !important;
        height: 260px !important;


    }




}

@media(min-width: 150px) and (max-width: 992px){

    .mapa{
        text-align: center !important;
    }
    .paddingletra{
        padding-left: 0px !important;
    }
    .mapamenu{
        padding-left: 0px !important;
        margin-right: 20px;
    }
    .suscribete{
        text-align: center !important;
    }
    .inputemail{
        margin-right: 0px !important;
        padding-top: 0px !important;
        margin-top:20px !important;
        padding-left: 0px !important;
    }

    .imagendetalleevento img{
        width: 90% !important;
    }
    .imagendetalleevento{
        width: 100% !important;
        text-align:    center;
        margin:0 auto !important;
    }
    .descripcionautor{
        width: 100% !important;
        margin:0 auto;        
        height: 230px !important;
    }
    .zonaderechaevento{
        width: 90% !important;
        margin:0 auto !important;
        float:none !important;
   }

}

@media(min-width: 500px) and (max-width: 992px){

   .contenedoreventos{
    width: 53% !important;
   }
}
 @media(min-width: 900px) and (max-width: 992px){
    
    .mensajebanner{
        left:50px !important;
        top:20px !important;
    }
    .tamanoletra1{
    
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:310px !important;
        margin-top:-30px !important;
    }
    .eventoscarousel{
        left: 130px !important;
        width: 700px !important;
        top:290px !important;
        padding-top: 5px !important;
        padding-bottom: 3px !important;
        height: 260px !important;


    }

    .imagendetalleevento{
        width: 250px !important;
        margin-left: 90px !important;
    }
    .descripcionautor{
        height: 290px !important;
    }
    .zonaderechaevento{
        margin-right: 30px !important;
        width: 500px !important;
   }



}

@media(min-width: 450px) and (max-width: 772px){


}
@media(min-width: 772px) and (max-width: 1018px){


}

 @media(min-width: 992px) and (max-width: 1000px){
    
    .mensajebanner{
        left:10px !important;
        top:20px !important;
    }
    .tamanoletra1{
    
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .paddingletra3{
        text-align: center;
        padding-left: 0px !important;
    }
    .inputbuttonbanner{
        left:310px !important;
    }
    .eventoscarousel{
        left: 30px !important;
        width: 870px !important;

    }
    .formsuscribete{
        margin-left:-108px !important;
    }
        .imagendetalleevento{
        width: 280px !important;
    }
    .descripcionautor{
        height: 250px !important;
    }
    .zonaderechaevento{
        margin-right: 40px !important;
        width: 500px !important;
   }

}

 @media(min-width: 1000px) and (max-width: 1050px){
    
    .mensajebanner{
        left:30px !important;
        top:20px !important;
    }
    .tamanoletra1{

    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:330px !important;
    }
    .eventoscarousel{
        left: 30px !important;
        width: 930px !important;


    }
    .paddingletra3{
        text-align: center;
        padding-left: 5px !important;
    }
    .formsuscribete{
        margin-left:-100px !important;
    }
    .mapamenu{
        padding-left: 60px;
    }
    .paddingletra{
        padding-left: 80px !important;
    }
    .redes{
        padding-left: 80px !important;
    }
    .imagendetalleevento{
        width: 280px !important;
    }
    .descripcionautor{
        height: 250px !important;
    }
    .zonaderechaevento{
        margin-right: 40px !important;
        width: 500px !important;
   }
}

@media(min-width: 1050px) and (max-width: 1100px){
    
    .mensajebanner{
        left:70px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:370px !important;
    }
    .eventoscarousel{
        left: 30px !important;
        width: 980px !important;

    }
    .paddingletra3{
        text-align: center;
        padding-left: 20px !important;
    }
    .formsuscribete{
        margin-left:-90px !important;
    }
    .mapamenu{
        padding-left: 70px;
    }
    .paddingletra{
        padding-left: 90px !important;
    }
    .redes{
        padding-left: 100px !important;
    }
    .imagendetalleevento{
        width: 280px !important;
    }
    .descripcionautor{
        height: 250px !important;
    }
    .zonaderechaevento{
        margin-right: 40px !important;
        width: 560px !important;
   }
}
@media(min-width: 1100px) and (max-width: 1150px){

    .mensajebanner{
        left:90px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:390px !important;
    }
    .eventoscarousel{
        left: 30px !important;
        width: 1030px !important;

    }
    .paddingletra3{
        text-align: center;
        padding-left: 20px !important;
    }
    .formsuscribete{
        margin-left:-80px !important;
    }
    .mapamenu{
        padding-left: 70px;
    }
    .paddingletra{
        padding-left: 90px !important;
    }
    .redes{
        padding-left: 100px !important;
    }
    .imagendetalleevento{
        width: 300px !important;
    }
    .descripcionautor{
        height: 250px !important;
    }
    .zonaderechaevento{
        margin-right: 40px !important;
        width: 580px !important;
   }
}
@media(min-width: 1150px) and (max-width: 1200px){

    .mensajebanner{
        left:120px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:420px !important;
    }
    .eventoscarousel{
        left: 40px !important;
        width: 1060px !important;

    }
    .formsuscribete{
        margin-left:-80px !important;
    }
    .mapamenu{
        padding-left: 80px;
    }
    .paddingletra{
        padding-left: 100px !important;
    }
    .redes{
        padding-left: 100px !important;
    }
    .imagendetalleevento{
        width: 300px !important;
    }
    .descripcionautor{
        height: 250px !important;
    }
    .zonaderechaevento{
        margin-right: 60px !important;
        width: 600px !important;
   }
}
@media(min-width: 1200px) and (max-width: 1250px){

    .mensajebanner{
        left:120px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:420px !important;
    }
    .eventoscarousel{
        left: 60px !important;
        width: 1080px !important;

    }
    .formsuscribete{
        margin-left:-70px !important;
    }
    .mapamenu{
        padding-left: 100px;
    }
    .paddingletra{
        padding-left: 120px !important;
    }
    .redes{
        padding-left: 100px !important;
    }
    .zonaderechaevento{
        margin-right: 80px !important;
        width: 600px !important;
   }


}
@media(max-width: 1250px){

    .paddingletra2{
        padding-left: 0px !important;
    }
}
@media(min-width: 1250px) and (max-width: 1300px){

    .mensajebanner{
        left:140px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:440px !important;
    }
    .eventoscarousel{
        left: 80px !important;
        width: 1100px !important;

    }
    .paddingletra2{
        padding-left: 0px !important;
        text-align: center;
    }
    .formsuscribete{
        margin-left:-40px !important;
    }
    .mapamenu{
        padding-left: 100px;
    }
    .paddingletra{
        padding-left: 120px !important;
    }
    .redes{
        padding-left: 100px !important;
    }
    .zonaderechaevento{
        margin-right: 80px !important;
        width: 660px !important;
   }
}
@media(min-width: 1300px) and (max-width: 1350px){

    .mensajebanner{
        left:170px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:470px !important;
    }
    .eventoscarousel{
        left: 100px !important;

    }
    .paddingletra2{
        padding-left: 1px !important;
    }
    .formsuscribete{
        margin-left:-40px !important;
    }
    .zonaderechaevento{
        margin-right: 120px !important;
        width: 670px !important;
   }       
   .zonaderechaevento1{
        width: 650px !important;
        margin-right: 0px !important;
    }
}
@media(min-width:150px ) and (max-width: 350px){
    .descripcionautor{
        height: 270px !important;
    }
    .titulorepertorio{
        text-align: center;
    }
}
@media(min-width: 1350px) and (max-width: 1400px){

    .mensajebanner{
        left:200px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .inputbuttonbanner{
        left:500px !important;
    }
    .eventoscarousel{
        left: 130px !important;

    }
    .paddingletra2{
        padding-left: 17px !important;
    }
    .formsuscribete{
        margin-left:-30px !important;
    }
    .zonaderechaevento{
        margin-right: 140px !important;
        width: 700px !important;
   }
}
@media(min-width: 1400px) and (max-width: 1450px){

    .mensajebanner{
        left:230px !important;
        top:20px !important;
    }
    .mensajebannersecundario{
        margin-top:20px;
        font-family: arabien;
        color:white;
        font-size: 20px;
        z-index: 99999999;
    }
    .eventoscarousel{
        left: 150px !important;

    }
    .inputbuttonbanner{
        left:530px !important;
    }
    .paddingletra2{
        padding-left: 17px !important;
    }
    .formsuscribete{
        margin-left:-30px !important;
    }   
    .zonaderechaevento{
        margin-right: 180px !important;
        width: 700px !important;
   }
}
@media(min-width: 1450px) and (max-width: 1500px){

   .zonaderechaevento{
    margin-right: 180px !important;
    width: 750px !important;
   }

}
@media(min-width: 1500px) and (max-width: 1550px){

   .zonaderechaevento{
    margin-right: 220px !important;
    width: 750px !important;
   }


}
@media(min-width: 1550px) and (max-width: 1600px){  

    .imagendetalleevento{
        width: 340px !important;
    }
   
}

 /* Medium devices (desktops, 992px and up) */
@media (min-width: 1083px ) and (max-width: 1200px) { /*
    body{
        background: yellow !important;
    }*/
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { /*
    body{
        background: red !important;
    }*/


}

/*CONTACTANOS****/

.contenidonormal{
    width: 100%;
    min-height: 780px;
    height: auto;
   background: rgb(8, 19, 27);

   
}
.contenidonormal2{

    width: 100%;
    height: 780px;
    background: rgb(8, 19, 27);
}
.mensajegrande{
    width: 950px;    
   /* height: 180px;*/
    background: rgba(0,0,0, 0.45);
    margin:0 auto;
    position: relative;    
    top:50px;    
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}
.formulariocontactanos{
    width: 80%;
    margin:0 auto;
    position: relative;
    top:80px;   
}
.seccionbotones{

    height: 43px !important;
}
.seccionbotones input{
    width: 80% !important;
    margin-bottom: 10px !important;
}
.formulariocontactanos .seccionbotones #nombre{
    /*margin-left:30px;*/
}
.formulariocontactanos .seccionbotones #correoelectronico{
    /*margin-left:120px;*/
}
.formulariocontactanos .seccionbotones #telefono{
    /*margin-left:120px;*/
}
.consulta{
    margin-top: 20px;
}
.consulta .inputconsulta{
    width: 100% !important;
    height: 150px;
    padding-top: 15px;
    padding-left: 20px;
}
.mandarmensaje{
    text-align: center;
}
.inputbuttoncontactanos{
    margin-top: 30px;
}
.estilosinputbuttoncontactanos{
    width: 30%;
    margin-top: 20px;
}

/*POLITICAS*/

.contenidopoliticas{
    width: 100%;
    height: 850px;
   background: rgb(8, 19, 27);
}
.mensajegrandepoliticas{
    height: 150px;
}
.reglamentos{
    width: 70%; 
    margin:0 auto;
    position: relative;
    top:70px;

}
.reglamentos .reglamento{
    padding:1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.reglamento{
    width: 100%;
    margin-bottom: 20px;
}
.reglamentos .reglamento .titulo{    
    color: #fd7d1f;
}

.reglamentos .reglamento .titulo{    
    border-bottom: 1px solid gray;
}
.reglamentos .reglamento .contenidoreglamento{
    color:white;
    padding-top: 10px;
}

/*ERROR*/

.contenidoerrorgracias{    
    width: 100%;
    height: 643px;
    background-image: url("../img/error.jpg") ;
}

/*EVENTO***/
.contenidotop{
    width: 100%;
    height: 300px;    
    background-image: url("../img/error.jpg") ;
    position: relative;    
    overflow: hidden;

}
.contenidosubtop{    
    width: 100%;
    height: 300px;    
    z-index: 100;    
    background: rgba(0,0, 0, 0.3);
    position: relative;

}
.eventos{
    margin-top: 20px;
}
.eventoprincipal{
    margin-left: 0px  !important;
    display: inline-block;  
    margin-top: 30px;
}
.effect-apollo{
    border:1px solid orange;
    width: 365px;
}
.barrasuperior{
    padding-top: 20px;
}
.barrasuperior .buscadoreventos{
}
.barrasuperior .filtroeventos{    margin-top: 20px;
}

.filtroeventos ul li{
    display: inline-block;
    list-style: none;
    margin:10px;
}
.filtroeventos ul li a{

    text-decoration: none;
    color:white;
    border:1px solid orange;
    background: #fd7d1f;
    padding:10px;

    

}
.filtroeventoselecciona{
    padding:20px;
    color:#74350c;


}
.filtroeventos ul li a:hover{

    text-decoration: none;
    color:yellow;
    border:1px solid orange;
    padding:10px;
}
.paginacion{
    width: 100%;

}
/*DETALLE EVENTO*/
.imagendetalleevento{
    width: 340px;
}
.contenidodetalleevento{
    margin-top: 100px;
}
.imagendetalleevento img{
    width: 100%;
}
.contenedordetalle{    
    width: 100%;
    height: auto;
   background: rgb(8, 19, 27);
}
.imagendetalleevento{
    float:left;
    margin-left: 140px;
}
.textodetalleevento{
    float:right;
    background: rgba(0,0,0,0.2);
    padding:20px;
}
.textodetalleevento{
    font-family: arabien;
    width: 100%;
}
.subtitulodetalleevento{
    color:#fd7d1f;
    font-size: 13px;
    font-family: arabien;
}
.textodetalleevento .titulodetalleevento div{
    float:right;
    margin-top: 20px;
    color:white;
    border:1px solid #fd7d1f ;
    padding:10px;
    background:  #fd7d1f ;

}
.estiloimagenborder{
    border:1px solid #fd7d1f;
}
.textodetalleevento .titulodetalleevento h3{
    float:left;
    color:white;
}
.descripciontexto{
    color:white;
    font-family: arabien;
    font-size: 14px;
}
 .textodetalleevento .descripciondetalleevento{
    width: 100%;
}

.fb-comments{
}
.fb-like{
    width: 90px;
}
.fb-comments
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}
/*REPERTORIO***/

.contenidorepertorio{

    width: 100%;
    height: 300px;    
    background-image: url("../img/notasmusicales.jpg") ;
    background-position: center;
    position: relative;    
    overflow: hidden;
}
.zonaderechaevento{
    float: right;
    width: 800px;
    margin-right: 200px;
}
.zonaderechaevento1{

    float: right;
    width: 800px;
    margin-right: 200px;
}

.cajacomentarios{
    height: auto;
    width: 100%;
    /*overflow-y: scroll; */   
    z-index: 999999;
}

.videosmusicales .listacancionsvideosmusicales ul li{
    list-style: none;
    color:white;
}
.titulorepertorio{
    color:white;
    font-family: arabien;
    font-size: 20px;
}
.videosmusicales .listacancionsvideosmusicales ul li >*{    
    margin-top: 10px;
    margin-bottom: 10px;

}

.listacancionsvideosmusicales ul li a{
    text-decoration: none;
    color:white;
}
.listacancionsvideosmusicales ul li a:hover{
    
    color:#fd7d1f;
}
.videosmusicales .listacancionsvideosmusicales ul li div p{

}
.videosmusicales .listacancionsvideosmusicales ul li {
    font-family: arabien;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #3d3d3d;
}
.videosmusicales{
    width: 100%;
}
.listacancionsvideosmusicales{
    background: rgba(0,0,0,0.7);
    padding-top: 20px;
    padding-bottom: 13px;
    /*overflow-y:scroll;*/
    height: auto;
}
.descripcionautor{

    font-family: arabien;
    font-size: 16px;
    margin-top: 20px;
    padding: 30px;
    height: 200px;
    color:white;
    background: rgba(0,0,0,0.3);
    width: 100%;
}


/*arreglando la imagen principal*/


/*


.menu{
    height: 123px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: -15px;
    width: 100%;
    z-index: 100;
}
.menu_back{
    position: absolute;
width: 100%;
height: 74px;
}
.menu #nav{
    height: 100%;
    position: relative;
    background: url("../img/Rounded-Rectangle-1.png") 50% 0 no-repeat;
}
.container{

    max-width: 1440px;
    margin: 0 auto;
}
.menu #nav .w_logo {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
text-align: center;
}

.w_logo {
position: relative;
}
.w_nav.active {
left: 0;
}
.w_nav {
position: relative;
left: -100%;
-webkit-transition: left 0.65s ease;
-moz-transition: left 0.65s ease;
-o-transition: left 0.65s ease;
-ms-transition: left 0.65s ease;
transition: left 0.65s ease;
}
.nav{
  display: inline-block;
font-size: 0;
position: relative;
z-index: 3;
}
.left {
float: left;
}
.nav li {
display: inline-block;
vertical-align: middle;
}
.nav li a.last {
border-right: none;
}
.nav li a {
display: block;
height: 73px;
padding: 0 12px;
color: #ffd564;
text-align: center;
position: relative;
padding-top: 8px;
letter-spacing: -1px;
}
.nav li a {
border-left: 1px solid #22224e;
}
.helper {
display: inline-block;
vertical-align: middle;
height: 100%;
width: 0;
}
.right {
float: right;
}
.clearfix:after {
content: "";
display: table;
clear: both;
}


*/

/*MENU*/


header{
    width: 100%;
    height: 257px;
}
.logo{
    padding-top: 10px;
}
.contenido{
    width: 100%;
    height: 643px;
    background-image: url("../img/fondo2.jpg") ;
}
.navbar-brand{
    display:none;
}


/*
.menu{
    height: 300px; position: absolute; background: url("../img/Rounded-Rectangle-12.png") 50% 0 no-repeat;
    left:550px;
    top:0px;
    z-index: 99999;
}*/

.imagenprincipal{    
    height: 643px;
    width: 100%;
    z-index: 100;    
    background: rgba(188,70, 2, 0.3);
    position: relative;

}

.mensajebanner{
    position: absolute;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 950px;
    left:300px;
    top:40px;
    background: rgba(0,0,0, 0.45);
}
.mensajebannersecundario{
    margin-top:20px;
    font-family: arabien;
    color:white;
    font-size: 20px;
    z-index: 99999999;
}
.inputbuttonbanner{
    position: absolute;
    top:250px;
    left:600px;
}
.estilosinputbutton2{
    width: 340px ;
    height: 63px;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.eventoscarousel{

    position: absolute;
    padding-top: 15px;
    width: 1150px;
    height: 280px;
    background: rgba(0,0,0, 0.45);
    top:340px;
    left:200px;

}
.contenedoreventos{
    width: 80%;
    margin:0 auto;
}
.eventoscarousel2{
    width: 80%;
    margin:0 auto;
}
.eventofecha{
    position: absolute;
    font-family: Calibri;
    font-size: 30px;
    font-weight: bold;
    color:white;
    top:5px;
    left:10px;
}
.eventolugar{
    position: absolute;
    font-family: arabien;
    font-size: 18;
    color:white;
    top:45px;
    left:10px;
}
.eventoorquesta{
    position: absolute;
    font-family: arabien;
    font-size: 24px;
    color:white;
    top:170px;
    left:150px;
}
.eventoconocer{
    position: absolute;
    font-family: arabien;
    font-size: 20px;
    font-weight: bold;
    
    top: 200px;
    left:220px;
}
.detalleeventoindex{
    /*display: none;*/
}
.eventoconocerlink{
    text-decoration: none;
    color:#fd7d1f;
}
.eventoconocerlink:hover{
    /*background:rgb(245, 252, 84);   */
    color:#fd7d1f;
}
/*HISTORIA***/
.contenidohistoria{
    margin-top: 40px;
    color:white;

}
.contenidohistoria .row{
    padding:20px;
}
.contenidohistoria .row h3{
    padding-bottom: 4px;
    color:#fd7d1f;
    border-bottom: 1px solid gray;
}

/*INTEGRANTES*/
.contenidointegrantes{
    margin-top: 60px;
    color:white;
}
.contenidointegrantes .row{
    padding:20px;
    height: 300px;
}
.imagenintegrante{
    width: 100%;
    height: 100%;
}
.imagenintegrante img{
    width: 100%;
    height: 100%;
    border:1px solid orange;
}
.descripcionintegrante{
    padding:40px !important;
    background-color: rgba(1,1,1,0.5);
    height: auto;
}
.descripcionintegrante h3{

    color:rgb(245, 252, 84);
}
.estilosintegrantesbutton{
    font-size: 20px !important;
    font-weight: bolder !important;

}
.descripcionintegrante button{
    float:right;
}
.fb-like{
   margin-top: 24px;
}


/*FOTOS***/

.album{
    margin-bottom:20px;
}
.contenidofotos{
    margin-top: 80px;
    color:white;
}
.contenidoalbum img{
    border:1px solid orange;
}
.contenidoalbum a{
    text-decoration: none;
    color:white;
}
.contenidoalbum a:hover{
    text-decoration: none;
    
    color:rgb(245, 252, 84);  
}
.descripcionalbum{
    border-radius: 5px;
    margin-top: 12px;
    background-color: rgba(1,1,1,0.6);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when .navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*CAMBIOS MENU*/
.menunavegacion{
    width: 25%;
    padding:10px;
}

.menulogo{
    width: 34%;
}
.menulogocontactanos{
    width: 42.5%;
}
.menulogoredes{
    width: 23.5%;
}
.redes1{
    margin-top: 35px;
}
.menulogoredes .redes1 li{
    width: 33.3%;

}
.ulmenusuperior{
    padding-top: 30px;
    width: 80%;
    margin:0 auto;
    min-height: 1px;
}
nav{
    width: 100%;
}
.divmenuinferior{
    width: 100%;
    position:relative;
    min-height: 1px;
    margin-top: 30px;
    border-top: 2px solid #fd7d1f;   
    background-color:#181615;   
}
.ulmenuinferior{
    width: 80%;
    margin:0 auto;

}
.informacioncontactanos{
    width: 100%;
    color:black;
    background:#fd7d1f; /*#FCDC6E*/ /*#181615 con color blanco letras*/
    padding:10px;
    border-radius: 5px;
    font-family: arabien;
}
.hrcontactanosmenu{
    margin-top: 2px !important;
    margin-bottom: 7px !important;
    border: 0 !important;
    border-top: 1px solid #AD701F !important;
}




h1 {
  color:white;
  font-size:72px;
  padding:25px 0 0 100px;
  font-family:helvetica;
  font-weight:100;
}

.star {
      position: absolute;
      background: url(https://dl.dropbox.com/u/1488103/julie-logo-sparkle.png) no-repeat;
      background-size: contain;
      overflow: hidden;
           
}
 .star-1 {
    width: 50px;
    height: 34px;
    top:30px;
    left:50px;  
}
.star-2 {
    width: 83px;
    height: 77px;
    top:18px;
    left:100px;
        
}
.star-3 {
    width: 74px;
    height: 70px;
    top:-20px;
    left:35px;
}
.star-4 {
    width: 68px;
    height: 70px;
    top:-18px;
    left:150px;
}