@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kmpdjo');
	src:url('fonts/icomoon.eot?#iefixkmpdjo') format('embedded-opentype'),
		url('fonts/icomoon.woff?kmpdjo') format('woff'),
		url('fonts/icomoon.ttf?kmpdjo') format('truetype'),
		url('fonts/icomoon.svg?kmpdjo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: "\e942";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-play3:before {
	content: "\ea1c";
}

